.container {
  border: 1px solid gray;
  padding: var(--spaceXLarge);
  position: relative;

  display: flex;
  flex-flow: row;
  align-items: center;
  min-width: 400px;
  max-width: 80vw;
  gap: 12px;
}

.container {
  > :last-child {
    align-self: flex-start;
  }
}

.container__label {
  background-color: #fff;
  padding: var(--spaceSmall);
  position: absolute;
  top: -16px;
  left: var(--spaceXLarge);
}
